@{
    ViewBag.Title = "Unauthorized";
}
<link href="~/Content/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
<h2 style="color:red;">Unauthorized Access : You are not authorized to view This Page</h2>
