@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>HerPage</title>
</head>
<body>
    <div>
        <h2>Apparel For Her</h2>
    </div>
</body>
</html>
