@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                
            </hgroup>

        </div>
    </section>
}
<h3>We suggest the following:</h3>
<h2>@ViewBag.Message</h2>
<ol class="round">
    <li class="one">
        <h4>Apparel For Him</h4>
        <a href="/Home/HisPage"><h1>His Page</h1></a>
    </li>

    <li class="two">
        <h4>Apparel For Her</h4>
        <a href="/Home/HerPage"><h1>Her Page</h1></a>
    </li>

    <li class="three">
        <h4>Apparel For Kids</h4>
        <a href="/Home/KidPage"><h1>Kids Page</h1></a>
    </li>
</ol>
