@{
    ViewBag.Title = "Fashionable ME";
}
<script src="~/Scripts/jquery-1.8.2.min.js"></script>
<script src="~/Scripts/jquery-ui-1.8.24.min.js"></script>
<link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>               
            </hgroup>

        </div>
    </section>
}

<h2>Result : <br /> @ViewBag.Message</h2>
<h2>@ViewBag.error</h2>

<a href="/Account/Details">Account Details</a>

<div style="width:auto;height:400px;text-align:center ; border: 10px dashed red; padding :inherit">
    <h1>Todays Offers</h1>
</div>
<br />
<br />
<div id="new_div">
    
    <div id="left" class="inbox">
        <h3><a href="/home/HisPage">Men's Apparel</a></h3>
    </div>
    
    <div id="middle" class="inbox">
        <h3><a href="/home/HerPage">Women's Apparel</a></h3>
    </div>
    
    <div id="right" class="inbox">
        <h3><a href="/home/KidPage">Kid's Apparel</a></h3>
    </div>
    
</div>

<style>
    .inbox {
        float:left;width:31% ; height:300px ; text-align:center; position:relative;
        border : 5px dotted seagreen ; margin-left:13px;
    }


</style>
